html {
    font-family: 'Helvetica Neue', sans-serif;
    min-height: 100%;
    overflow: hidden;
}

body {
	height: calc(100vh - 8em);
	padding: 4em;
	color: rg ;
}

.prof-box {
	width: 100px;
	height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: auto;
	width: 30%;
	margin-top: 30px;
	text-align: center;
}

.prof-pic {
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

h1 {
	font-weight: 100;
    font-size: 40;
    letter-spacing: 5;
}

h5 {
	font-weight: 400;
}

p {
	font-weight: 200;
    letter-spacing: 1;
}

li {
	list-style: none;
	margin: 5px 15px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 10px;
	color: #fff;
}



